<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ROOT VIEW</title>
  </head>
  <body>
    <div id="redux-app"></div>

    <script type="text/javascript" src="/static/dist/bundle.js"></script>
  </body>
</html>
